.container-pokemon {
    border: 1px solid lightgray; /* Custom blue border */
    border-radius: 10px; /* Rounded corners */
    padding: 5px; /* Padding inside the border */
    margin: 10px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1); /* Subtle inner shadow */
}